<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9296122063-5qc0u9hjnj5hf51mf9pqq6s4dakcl9dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9296122063-5qc0u9hjnj5hf51mf9pqq6s4dakcl9dj</string>
	<key>API_KEY</key>
	<string>AIzaSyB9h_0QfZTGLyPKQwpAKgxv6819apNb84M</string>
	<key>GCM_SENDER_ID</key>
	<string>9296122063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inplace</string>
	<key>PROJECT_ID</key>
	<string>inplace-f3020</string>
	<key>STORAGE_BUCKET</key>
	<string>inplace-f3020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9296122063:ios:87148ffb06f780e1faa7ba</string>
</dict>
</plist>